%h2.title
  %hr.small
  - if @categories
    Los Estudios

  - if @sermons
    Los Estudios de #{params[:category]}

  %hr.large

- if @categories
  .sermons= render partial: 'category', collection: @categories, as: :category
- elsif @sermons
  .sermons= render @sermons
  = paginate @sermons

.clr
