- content_for :motto do
  .bg
  .motto
    %h1
      Entre tanto que voy, <br /> ocúpate en la lectura, <br /> la exhortación y la enseñanza. <br />
      %span.verse 1 Timoteo 4:13
    = link_to sermons_path, class: 'button' do
      %button.white Ver Todas Nuestras Categorias

- @header_class = "nobg"
= render template: "layouts/application"
